body{
   background-color: black;
}

header{
    display: flex;
    font-family: monospace;

}

.user{
    color: white;
    font-size: 20px;
}

ul{
    display: flex;
    /* padding-inline: 50px; */
}

a{
    padding-right: 50px;
    
}
img{
    width: 200px;
    height:200px;
    padding-left: 10px ;
}

#home{
    color: white;
    font-family: monospace;
    font-size: 20px;
    padding-left: 0px;
    text-align: center;
}

h3{
    color: white;
}

span{
    color: rgb(255, 100, 013);
}

h1{
    font-size: 40px;
}

.navbar{
        text-align: center;
}

.btn{
    cursor: pointer;
    background-color: black;
    color: white;
    margin-top: 1rem;
    font-size: 25px;
    border-radius: 5rem;
}

.btn:hover{
           background: rgb(255, 100, 013);
           color: rgb(5, 8, 1);
           box-shadow: 0 0 5px,
                       0 0 25px rgb(255, 100, 013),
                       0 0 50px rgb(255, 100, 013),
                       0 0 200px rgb(255, 100, 013);
}

.heading{
   
    text-align: center;
    margin: 0 6rem;
    padding: 1rem;
    border-bottom: 0.1rem solid #fff4;
    color: #fff;
}

.info{
      padding-left: 5px;
}

.counter{
    display: flex;
}

.education .box-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 3rem 0;
    padding-left: 3rem;
}
section{
    min-height: 400px;
}

p{
    color: white;
    padding: 1rem;
    margin: 5px 5px;
}

#promod{
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    text-align: center;
}
#promod #md{
    /* width: 20rem; */
    min-height: 60px;
    background: #222;
    text-align: center;
    padding: 2rem;
    margin: 2rem;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    font-size: 18px;

}
#md:hover{
    background: rgb(255, 100, 013);
           color: rgb(5, 8, 1);
           box-shadow: 0 0 5px,
                       0 0 25px rgb(255, 100, 013),
                       0 0 50px rgb(255, 100, 013),
                       0 0 200px rgb(255, 100, 013);
}

.row{
    display:contents;
}

form{
    display:grid;
}
form .box{
    padding: 20px;
    border-radius: 5px;
    width: 450px;
}

#main{
    border-radius: 100px;
}
